*{
  margin: 0;
  padding: 0;
  outline: none;
}

::before,
::after{
  box-sizing: border-box;
}

body{
  font-size: 16px;
  line-height: 1.5;
  -webkit-tap-highlight-color: transparent;
}

.header{
  background-image: url("/images/header.jpeg");
  background-size: cover;
  background-position: no-repeat;
  width: auto;
  height: 80vh;
  position: relative;
}

.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  position: sticky;
}

.row .logo img{
  width: 50px;
}

.bar{
  height: 3.5px;
  width: 2rem;
  background-color: white;
  border-radius: 1rem; 
  display: block;
  transition: 0.3s ease;
}

#bar1{
  transform: translateY(-4px);
}

#bar3{
  transform: translateY(4px);
}

/*.change #bar1{
  transform: translateY(2.7px) rotateZ(45deg);
}
.change #bar2{
  opacity: 0;
}
.change #bar3{
  transform: translateY(-3.7px) rotate(-45deg);
}*/

/*****navigation styling.********/

#navBar{
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #000000;
  z-index: 2;
  overflow-x: hidden;
  transition: 0.3s ease-out;
}

#navBar #close_icon{
  color: white;
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 2rem;
}

#navBar ul li{
  list-style: none;
  margin: 3.5rem;
}

#navBar ul li a{
  text-decoration: none;
  color: white;
  padding: 2rem;
  font-size: 1.5rem;
}

#navBar ul li a:hover{
  color: #F2E2B2;
}

.container_head{
  text-align: center;
  padding-top: 6rem;
  color: white;
  font-size: 15px;
  animation: zoom-in-zoom-out 3s ease;
}

.container_head h1 span{
  font-style: italic;
  color: tomato;
}

.container_head .text_a{
  margin-top: 4rem;
}

.text_a a{
  font-size: 1rem;
  padding: 1rem;
  height: 150px;
  background-color: transparent;
  text-decoration: none;
  color: whitesmoke;
  border: 0.2rem solid #F2E2B2;
  border-radius: 4rem;
}

.text_a a:hover{
  background-color: #F2E2B2;
  transition: 0.5s ease-out;
  letter-spacing: 0.2rem;
  color: black;
}

/****"meals section styling******/
.special_section{
  background-color: #000000;
  background-size: cover;
  background-position: center;
  filter: blur;
  height: auto;
}

.special_section h1{
  text-align: center;
  padding:  3rem;
  color: white;
}

.slideshow_container{
  max-width: 350px;
  position: relative;
}

.mySlides img{
  width: 290px;
  height: 250px;
  padding: 0 2rem;
}

.mySlides{
  display: none;
}

.text, h1 p{
  color: white;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
/*meals special section ends*/


/**** expert section styling*****/
#expert{
  background-color: black;
  padding: 2rem;
}

.expert_text{
  margin: 2rem;
  text-align: center;
  color: white;
}

.experts_container img{
  width: 100%;
}

.expert_detail{
  text-align: center;
}

.expert_container{
  background-color: white;
  display: grid;
  margin-top: 2rem;
  height: 360px;
  border-radius: .5rem;
  overflow: hidden;
  animation: fade-in 2s ease-out;
}
/******epert ends here****/

.about{
  background-image: url("/images/about-bg.jpeg");
  background-size: cover;
  color: white;
  padding-top: 4rem;
}

.about_us{
  text-align: center;
  padding-bottom: 2rem;
  color: #BB8A64;
}
.about_content .social{
  display: flex;
  padding: 0 .5rem 1rem;
}

.opening{
  text-align: center;
  padding-top: 2rem;
}

.about i{
  color: #BB8A64;
}

.about h4{
  padding-right: 9rem;
}

.about_time{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.about_time span{
  border-bottom: 2px solid #BB8A64;
  padding: 2rem 0 0 1rem;
}
/********about styling end********/
.button{
  background-color: #000000;
}
button{
  background-color: #BB8A64;
  margin-top: 2rem;
  padding: 1rem;
  border: none;
  outline: none;
 
}


@keyframes zoom-in-zoom-out{
  0%{
    transform: scale(0, 0);
  }
  85%{
    transform: scale(1, 1);
  }
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media screen and (min-width: 980px){
  body{
    font-size: 2rem;
  }
  .header{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 30vh;
  }
  .navBar{
    display: flex;
    justify-content: center;
  }
  #navBar nav ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
    overflow: hidden;
  }
  
  #navBar ul li{
    display: inline-block;
  }
  
  .bar, #close_icon{
    display: none;
  }

  
}
